* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --primary: darkorange;
  --border: #ddd;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--border);
  background-color: white;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem;
}

.header h1 {
  font-size: 1.5rem;
  color: var(--primary);
}

/* Contenido principal */
.page__content {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  margin-top: 61px;
}

/* Barra lateral */
.page__section {
  border-bottom: 1px solid var(--border);
}

.navigation {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  justify-content: space-between;
  gap: .5rem;
  overflow-x: auto;
  list-style: none;
}

.navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .5rem;
  color: #717171;
  text-decoration: none;
  transition: all;
  transition-duration: 200ms;
}

.navigation-link:active {
  color: var(--primary);
}

.navigation-link:hover {
  color: var(--primary);
}

.review-card {
  display: none;
}

.page__main {
  flex-grow: 1;
  padding: 1rem;
}

.page__title {
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
}

/* Footer */
.footer {
  display: grid;
  gap: .5rem;
  border-top: 1px solid var(--border);
  padding: 1rem;
}

.footer .footer__block {
  border-bottom: 1px solid var(--border);
  padding-bottom: .5rem;
}

.footer .footer__block:last-child {
  border-bottom: none;
}

.footer__block-title {
  font-weight: 600;
  margin-bottom: .25rem;
}

.footer__block-items {
  list-style: none;
}

/* Error msg */
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  padding: 1rem;
  border-radius: .5rem;
  opacity: 0.7;
}

/* Helpers */
.d-flex {
  display: flex;
}

.ml-2 {
  margin-left: .5rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mt-5rem {
  margin-top: 5rem;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.cursor-pointer {
  cursor: pointer;
}

@media (min-width: 768px) {
  .page__content {
    flex-direction: row;
  }

  .page__section {
    display: flex;
    flex-direction: column;
    border-bottom: none;
    border-right: 1px solid var(--border);
    padding: 1rem;
  }
  
  .page__title {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navigation {
    grid-template-columns: 1fr;
  }

  .navigation-link {
    justify-content: start;
  }

  .review-card {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 250px;
    border: 1px solid var(--border);
    border-radius: .5rem;
    padding: 1rem;
    margin-top: auto;
  }

  .review-card img {
    width: 100px;
    height: 100px;
    border: 1px solid var(--border);
    border-radius: 50%;
    object-fit: cover;
  }

  /* Footer */
  .footer {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer .footer__block {
    border-bottom: none;
  }

  .footer_description {
    grid-column: 1 / -1;
    text-align: center;
  }
}