.currency__filter {
  display: flex;
  align-items: center;
  gap: .5rem;
  border: 1px solid var(--border);
  border-radius: .5rem;
  padding: 1rem;
}

.currency__filter select {
  background-color: white;
  border: 1px solid var(--border);
  border-radius: .5rem;
  padding: .5rem;
}

.table__container {
  overflow-x: auto;
}

table {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: .5rem;
}

th, td {
  border-right: 1px solid var(--border);
  padding: .5rem;
}

th:last-child, td:last-child {
  border-right: none;
}

th {
  text-align: start;
}

.date-cell {
  background-color: #ddd;
}

.send-inform {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .currency__filter {
    width: fit-content;
  }
}