.currency__filter {
  display: flex;
  align-items: center;
  gap: .5rem;
  border: 1px solid var(--border);
  border-radius: .5rem;
  padding: 1rem;
}

.currency__filter select {
  background-color: white;
  border: 1px solid var(--border);
  border-radius: .5rem;
  padding: .5rem;
}

.table__container {
  margin-top: 1rem;
  overflow-x: auto;
}

table {
  width: 100%;
  border: 1px solid var(--border);
  border-radius: .5rem;
}

th, td {
  border-right: 1px solid var(--border);
  padding: .5rem;
}

th:last-child, td:last-child {
  border-right: none;
}

th {
  text-align: start;
}

.date-cell {
  background-color: #ddd;
}

.send-inform {
  display: flex;
  align-items: center;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;
  background-color: var(--border);
  border: 1px solid black;
  border-radius: .5rem;
  padding: .5rem;
}

dialog form {
  display: grid;
  gap: 1rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input label {
  font-size: 12px;
}

form input {
  border: 1px solid transparent;
  border-radius: .5rem;
  padding: .5rem;
}

form button {
  border: none;
  border-radius: .5rem;
  padding: .5rem;
}

.send-button {
  color: white;
  background-color: rgb(0, 183, 0);
}

@media (min-width: 768px) {
  .currency__filter {
    width: fit-content;
  }
}